<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!-- Try building a new body here, using Bootstrap for styling -->
    <div class="px-5 py-5 mx-auto">
        <table id="pokemon_table" class="table">
            <thead>
                <tr>
                    <th>Pokémon</th>
                    <th>Type</th>
                    <th>Abilities</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pikachu</td>
                    <td>Electric</td>
                    <td>Static, Lightning Rod</td>
                    <td><a href="pikachu_image_link"><img src="pikachu.jpg" alt="Pikachu Image" width="100"></a></td>
                </tr>
                <tr>
                    <td>Charizard</td>
                    <td>Fire/Flying</td>
                    <td>Blaze, Solar Power</td>
                    <td><a href="charizard_image_link"><img src="charizard.jpg" alt="Charizard Image" width="100"></a></td>
                </tr>
                <!-- Add more Pokémon here with their types, abilities, and images -->
                <tr>
                    <td>Bulbasaur</td>
                    <td>Grass/Poison</td>
                    <td>Overgrow, Chlorophyll</td>
                    <td><a href="bulbasaur_image_link"><img src="bulbasaur.jpg" alt="Bulbasaur Image" width="100"></a></td>
                </tr>
                <tr>
                    <td>Squirtle</td>
                    <td>Water</td>
                    <td>Torrent, Rain Dish</td>
                    <td><a href="squirtle_image_link"><img src="squirtle.jpg" alt="Squirtle Image" width="100"></a></td>
                </tr>
                <!-- Add more Pokémon here -->
            </tbody>
        </table>
    </div>
</body>

<!-- Include the DataTables library for table functionality -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!-- Activate DataTable for the table -->
<script>
    $(document).ready(function() {
        $("#pokemon_table").DataTable();
    });
</script>
{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
