<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <table id="md_demo" class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Current Club</th>
                    <th>Country</th>
                    <th>Position</th>
                    <th>Ranking</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lionel Messi</td>
                    <td>FC Barcelona, Inter Miami</td>
                    <td>Argentina</td>
                    <td>RW</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Pele</td>
                    <td>Retired</td>
                    <td>Brazil</td>
                    <td>ST</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Maradona</td>
                    <td>Retired</td>
                    <td>Argentina</td>
                    <td>CAM</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Ronaldo</td>
                    <td>Al Nasir</td>
                    <td>Portugal</td>
                    <td>ST</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Ronaldhino</td>
                    <td>Retired, FC Barcelona</td>
                    <td>Brazil</td>
                    <td>LW</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Johan Cruyff</td>
                    <td>Retired, FC Barcelona</td>
                    <td>Netheranlds</td>
                    <td>CAM</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Zidane</td>
                    <td>Retired, Real Madrid</td>
                    <td>France</td>
                    <td>CAM</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Ronaldo Nazario</td>
                    <td>Retired, Inter</td>
                    <td>Brazil</td>
                    <td>ST</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Platini</td>
                    <td>Retired, AC Milan</td>
                    <td>Italy</td>
                    <td>CB</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>Neymar</td>
                    <td>Al Hilal, PSG, FC Barcelona</td>
                    <td>Brazil</td>
                    <td>LW</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </body>
    
    <!-- Script is used to embed executable code -->
    <script>
        $("#md_demo").DataTable();
    </script>
</div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
